* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	background-color: #333;
}

h1 {
	display: none;
}

@media (min-width: 200px) and (max-width: 400px) {
	body {
		background-color: gold;
	}
}

@media (min-width: 400px) and (max-width: 600px) {
	body {
		background-color: royalblue;
	}
}

@media (min-width: 600px) and (max-width: 800px) {
	body {
		background-color: tomato;
	}
	h1 {
		display: block;
	}
}
